body {
	padding-top: 0;
	min-height: 100%;
	background-color: #666;
}

.page-header {
	width: 100%;
	margin: 0;
	height: 100px;
	padding: 10px 30px 10px 30px;
	background-color: #666;
	border-bottom: 0px solid #eee;
}

.page-header h1{	
	color: #FD8E00;

}

.UserPanel {
	overflow:auto;
	overflow-x:hidden;
    overflow-y:visible;
    background-color: #ffffff;
	height:500px;
	padding: 10px 30px 10px 30px;
}

.UserPanel .username {
	font-size: 20px;
	display: block;
	color: hsl(199, 43%, 48%);
}
.NameForm {
	padding-left: 30px;
}

.NameForm button{
	margin-left: 5px;
}

.ChatForm label{
	color: #FD8E00;	
}

.ChatForm {
	padding: 15px;
	max-width: 600px;
	
}

.MessageBoard {
	overflow:auto;
	overflow-x:hidden;
    overflow-y:visible;
    background-color: #ffffff;
	height:500px;
	padding: 10px 30px 10px 30px;
}

.MessageRow {
	width: 100%;
	display: block;
	padding: 5px;
	float: left;
}

.MessageRow span{
}

.MessageRow .author{
	font-weight: bold;
	
	font-size: 18px;
}

.MessageRow .text{
	min-width: 100px;
	max-width: 600px;
	display: block;
	padding: 15px;
	border: 2px solid #eee;
	border-radius: 25px;
	background-color: #fff;
	box-shadow: 3px 5px 5px #888888;
	font-size: 16px;

}

@media(min-width: 760px){
	.MessageRow .author{
		float: left;
		padding: 20px;
	}

	.MessageRow .text{
		float: left;

	}
}




